
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Mukta:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    html{
        font-size: 15px;
    }

    body{
        font-family: Mukta, sans-serif;
        background-color: black;
        color: rgb(224, 236, 252);
    }
    .imgperfil{
        width: 280px;
        height: auto;
    }
    .container {
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        display: grid;
        padding: 5rem;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;

    }

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.parte-1,

.parte-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.parte-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.parte-3 > div {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.parte-3 {
		flex-direction: column;
	}
}

    .profile_container{
        display: flex;
        gap: 4rem;
     }

     .profile_name_first{
         font-size: 30px;
         color: rgb(141, 209, 230);
         display: block;
         margin-bottom: -2rem;
         margin-top: 2rem;

     }
     .profile_name_lastname{
         font-size: 45px;
         color: rgb(94, 138, 219);
         display: block;
         margin-bottom:  -1rem; 
         margin-top: -1rem;     

     }
     .profile_title{
        
        font-size: 20px;
        font-style: italic                  
     }
     
     @media only screen and (max-width: 768px) {
         .profile_container{
             flex-direction: column;
         }
     }

     .title_tag{
         color: aqua;
         font-size: 21px;
         margin-bottom: 1rem;

         
     }
     

     .interest_items {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .interest_item {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        color: var(--text-color);
    }
    .interest_item svg {
        width: 2rem;
    }
    .dates{
        font-style: italic;
        font-size: 12px;
        margin-bottom: 0.3rem;
    }
    .subtitle{
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: -0.5rem;
    }
    .text_cont{
        font-size: 13px;
    }
    hr{
        grid-column:1/-1 ;
        width: 80%;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 1rem;
        border: none;
        border-top: 2px solid rgb(255, 255, 255);
    }
    @media only screen and (max-width: 768px) {
        hr {
            margin: 0 auto;
        }
    }
    